@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background:0 0% 100%;
    --foreground:222.2 47.4% 11.2%;

    --muted:210 40% 96.1%;
    --muted-foreground:215.4 16.3% 46.9%;

    --popover:0 0% 100%;
    --popover-foreground:222.2 47.4% 11.2%;

    --card:0 0% 100%;
    --card-foreground:222.2 47.4% 11.2%;

    --border:214.3 31.8% 91.4%;
    --input:214.3 31.8% 91.4%;

    --primary:222.2 47.4% 11.2%;
    --primary-foreground:210 40% 98%;

    --secondary:210 40% 96.1%;
    --secondary-foreground:222.2 47.4% 11.2%;

    --accent:210 40% 96.1%;
    --accent-foreground:222.2 47.4% 11.2%;

    --destructive:0 100% 50%;
    --destructive-foreground:210 40% 98%;

    --ring:215 20.2% 65.1%;

    --radius:0.5rem;
  }

  .dark {
    --background:224 71% 4%;
    --foreground:213 31% 91%;

    --muted:223 47% 11%;
    --muted-foreground:215.4 16.3% 56.9%;

    --popover:224 71% 4%;
    --popover-foreground:215 20.2% 65.1%;

    --card:224 71% 4%;
    --card-foreground:213 31% 91%;

    --border:216 34% 17%;
    --input:216 34% 17%;

    --primary:210 40% 98%;
    --primary-foreground:222.2 47.4% 1.2%;

    --secondary:222.2 47.4% 11.2%;
    --secondary-foreground:210 40% 98%;

    --accent:216 34% 17%;
    --accent-foreground:210 40% 98%;

    --destructive:0 63% 31%;
    --destructive-foreground:210 40% 98%;

    --ring:216 34% 17%;

    --radius:0.5rem;
  }
}

@layer base {
  * {
    @apply border-border box-border p-0 m-0;
  }

  img {
    @apply max-w-none h-max
  }

  body {
    @apply bg-background text-foreground overflow-x-hidden max-w-full;
    font-feature-settings:"rlig" 1, "calt" 1;
  }

  .nav_mobile-box {
    @apply max-md-650:mx-[2rem] max-md-650:mt-[2rem] max-lg-1k:mx-[4rem] max-lg-1k:mt-[4rem] max-xl-12:mx-[2rem] max-xl-12:mt-[2rem]
  }

  .header {
    @apply max-lg-1k:flex-col max-lg-1k:justify-center max-lg-1k:items-center relative flex justify-between gap-16
  }


  .header-left-side {
    @apply justify-between p-[3rem_0_1rem] flex-1
  }

  .header-content {
    @apply max-md-650:gap-8 max-md-650:mb-8 mb-12 justify-center gap-10
  }

  .header-content,
  .header-left-side {
    @apply flex flex-col
  }

  .header-sale-button {
    @apply bg-[#e1edff] h-10 w-[120px] rounded-[6px] flex items-center justify-center text-blue-600 font-semibold
  }

  .header-main-heading {
    @apply font-bold text-6xl leading-[55px] tracking-[0.03em] text-[#212121] max-md-650:text-5xl
  }

  .header-main-helper-text {
    @apply font-normal text-base leading-6 text-[#666] w-[300px]
  }

  .header-main-button {
    @apply flex gap-2 p-4 text-white bg-black font-bold w-fit xl-12:w-[150px] text-center justify-center items-center rounded-[6px] xl-12:break-words max-lg-1k:px-[40px] max-lg-1k:py-[20px]
  }

  .header-featured {
    @apply grid grid-cols-4 max-md-650:grid-cols-2 w-full gap-4 gap-x-6
  }

  .header-right-side {
    @apply max-lg-1k:hidden flex flex-1 justify-center items-center
  }

  .header-circle,
  .header-img {
    @apply absolute top-[-5%]
  }

  .header-left-side {
    @apply flex flex-1
  }

  .header-circle {
    @apply w-[600px] h-[600px] rounded-[50%] bg-[#ffece3]
  }

  .subtitle {
    @apply text-center flex flex-col gap-4 mb-8
  }

  .subtitle>span {
    @apply text-[12px] leading-[15px] tracking-[0.1em] text-[#0062f5]
  }

  .subtitle>h2 {
    @apply text-[32px] leading-[40px] tracking-[0.03em] text-black
  }

  .subtitle>span,
  .subtitle>h2 {
    @apply font-bold text-center
  }

  .event-banner {
    @apply flex justify-between gap-8 max-lg-1k:flex-col max-lg-1k:gap-4
  }

  .event-banner-left {
    @apply flex grow-[2] shrink-[1] basis-[0%] flex-col gap-4 max-[450px]:flex-col max-md-650:pt-8 max-lg-1k:pt-0
  }

  .event-card {
    @apply first:bg-[#d6d6d8] first:flex first:justify-between first:items-center first:py-0 first:px-8 first:tracking-wider first:text-[#212121] first:max-[450px]:flex-col first:max-md-650:pt-8 first:max-lg-1k:pt-0 last:bg-[#212121] last:text-[#fff] last:flex last:flex-col last:justify-center last:items-center last:pt-12 last:px-8 last:pb-8 last:max-md-650:p-8 last:max-lg-1k:p-12
  }

  .event-card>.content>h3 {
    @apply font-extrabold text-[1.5rem] leading-[35px]
  }

  .event-card>.content>p {
    @apply font-normal text-[1.125rem] leading-[23px] tracking-[0.03em]
  }

  .event-card:first-child img {
    @apply max-md-650:w-[200px] max-md-650:h-[180px] max-lg-1k:w-[300px] max-lg-1k:h-[250px] w-[260px] h-[200px]
  }

  .event-banner-left {
    @apply max-[450px]:flex-col max-md-650:pt-8 max-lg-1k:pt-0
  }

  .event-card:last-child h3 {
    @apply font-extrabold text-[2.25rem] leading-[45px] tracking-[0.03em] mb-4
  }

  .event-card:last-child p {
    @apply font-normal text-[.875rem] leading-[18px] tracking-[0.03em]
  }

  .event-card:first-child span {
    @apply font-extrabold text-[2.25rem] leading-[45px]
  }

  .event-card button {
    @apply max-[450px]:text-[.7rem] max-[450px]:w-fit max-[450px]:py-[0.5rem] max-[450px]:px-[1rem] max-md-650:text-[1rem] font-bold text-[17px] leading-[21px] tracking-[.25em] text-[#fff] border-none bg-[#474747] py-[0.5rem] px-[2.5rem] mt-[5px] rounded-[8px]
  }

  .event-banner-right {
    @apply flex-1 flex items-center justify-between gap-[2rem] max-md-650:flex-col
  }

  .event-banner-right-1 {
    @apply bg-[#efe1c7]
  }

  .event-banner-right-1,
  .event-banner-right-2 {
    @apply w-full
  }

  .details {
    @apply w-full ml-10
  }

  .details p {
    @apply font-normal text-[15px] leading-[24px] tracking-[0.03em]
  }

  .details span {
    @apply first:after:w-full first:after:h-[1px] first:after:bg-[#212121] first:after:absolute first:after:bottom-[10px] first:after:left-0 first:after:content-[''] first:relative last:font-semibold last:text-[18px] last:leading-[23px] last:ml-[10px]
  }

  .event-banner-right-1 img,
  .event-banner-right-2 img {
    @apply max-lg-1k:w-[240px] max-lg-1k:h-[300px]
  }

  .event-banner-right-1 img,
  .event-banner-right-2 img {
    @apply h-[340px] pt-4 w-max
  }

  .event-banner-right-2,
  .event-banner-right-1 {
    @apply pt-6 flex flex-col justify-between items-center
  }

  .event-banner-right-2 {
    @apply bg-[#d7d7d9]
  }

  .product-card {
    @apply py-8 pr-0 pl-[1.3rem] transform duration-500 ease-in-out hover:scale-110 max-2xl-12p:flex max-2xl-12p:flex-col max-2xl-12p:justify-center max-2xl-12p:items-center max-2xl-12p:py-[2rem] max-2xl-12p:px-0
  }

  .product-card img {
    @apply max-lg-1k:w-[380px] max-lg-1k:h-[400px] max-md-650:w-[300px] max-md-650:h-[320px]
  }

  .product-card img {
    @apply w-[380px] h-[400px]
  }

  .product-name,
  .product-price {
    @apply font-semibold text-[#212121] mt-2 leading-6
  }

  .product-name {
    @apply text-[1.1rem] tracking-[0.03em]
  }

  .product-price {
    @apply text-[1.12rem]
  }

  .features-section {
    @apply max-xl-12:mt-0 mt-16
  }

  .features-section .title {
    @apply max-xl-12:justify-center max-xl-12:p-[2rem_4rem] max-2xl-12p:p-[0_6rem] flex justify-end p-[0_8rem_2rem] bg-gradient-to-r from-white to-[#fbfcff]
  }

  .features-section .title h1 {
    @apply max-md-650:text-[2.5rem] max-lg-1k:w-full max-xl-12:w-[80%] font-bold text-[2.75rem] leading-[55px] tracking-[.03em] text-[#212121] w-[45%]
  }

  .features-section .content {
    @apply max-xl-12:grid-cols-1 max-xl-12:gap-[4rem] max-2xl-12p:p-[0_6rem] grid grid-cols-2 p-[0_8rem_4rem] bg-[#fbfcff]
  }

  .features-section .content,
  .features-section .title {
    @apply max-xl-12:p-[2rem_4rem]
  }

  .features-section .content .left {
    @apply max-xl-12:gap-[2rem] grid grid-cols-2 justify-center items-center relative
  }

  .features-section .content .left .feature-background {
    @apply max-md-650:text-[5rem] max-lg-1k:text-[6rem] font-extrabold text-[6.8rem] leading-[110px] absolute text-[#212121] opacity-[.07] z-[1]
  }

  .features-section .content .left div {
    @apply max-xl-12:w-full w-[70%] z-[2]
  }

  .features-section .content .left h3 {
    @apply font-semibold text-[1.125rem] leading-[20px] tracking-[.03em] text-[#212121] mb-4
  }

  .features-section .content .left p {
    @apply font-light text-[1rem] leading-[22px] tracking-wider text-[#212121]
  }

  .features-section .content .right {
    @apply flex justify-center items-center gap-8
  }

  .features-section .content .right div {
    @apply flex flex-col gap-8
  }

  .features-section .content .right p {
    @apply font-light text-[1rem] leading-[26px] text-justify text-[#212121]
  }

  .features-section .btn {
    @apply text-[.875rem] w-[50%] font-semibold leading-[18px] bg-[#212121] py-[10px] px-0 flex items-center justify-center gap-2 text-[#fff]
  }

  .newsletter {
    @apply max-md-650:py-[6rem_2rem] max-xl-12:p-[6rem_4rem] p-[10rem_8rem] flex flex-col justify-center items-center text-center relative z-[1]
  }

  .newsletter-background {
    @apply max-md-650:text-[4rem] max-lg-1k:text-[6.2rem] font-extrabold text-[7.5rem] leading-[151px] text-[#f2f3f7] absolute z-[-1]
  }

  .newsletter h1 {
    @apply max-md-650:mb-[.5rem] max-md-650:text-[1.8rem] mb-4 font-bold text-[2rem] leading-[40px] tracking-[.03em] text-[#212121]
  }

  .newsletter p {
    @apply mb-8
  }


  .newsletter input {
    @apply p-[6px_116px_6px_16px] bg-[#fcfcfc] border-[1px] border-gray-500
  }

  .newsletter button {
    @apply max-lg-1k:p-[10px_40px] p-[10px_20px] ml-[10px] bg-[#000] text-[#fff] font-semibold text-[.9rem] leading-[16px]
  }

  .footer,
  .event-container,
  .products-outer-container {
    @apply max-md-650:py-[4rem_2rem] max-xl-12:p-[4rem] max-2xl-12p:p-[2rem_6rem] p-[4rem_8rem]
  }

  .footer {
    @apply max-lg-1k:grid-cols-1 max-lg-1k:gap-[2rem] grid grid-cols-[2fr_1fr_1fr_1fr]
  }

  .footer .logo {
    @apply max-lg-1k:gap-[2rem] max-lg-1k:w-full flex flex-col justify-between w-[80%]
  }

  .footer .logo p {
    @apply max-lg-1k:w-[60%]
  }

  .footer li,
  .footer p {
    @apply font-normal text-[1rem] leading-[22px] text-[#666]
  }

  .icon-container {
    @apply flex gap-4
  }

  .icon-container div {
    @apply p-[10px_12px] bg-black rounded-[10px] cursor-pointer
  }

  .footer-links h3 {
    @apply font-bold text-[1.2rem] leading-[19px] tracking-[.02em] text-[#666]
  }

  .footer li {
    @apply first:mt-[25px] mt-[15px]
  }

  .footer li,
  .footer p {
    @apply font-normal text-base leading-[22px] text-[#666]
  }

  .cart,
  .size li,
  button,
  .footer li,
  nav li {
    @apply list-none cursor-pointer
  }

  .copyright {
    @apply mt-24 border-t-[1px] border-solid border-[#666] grid grid-cols-[auto_auto_auto] max-md-650:grid-cols-1 max-lg-1k:mt-0 max-lg-1k:grid-cols-2
  }

  .copyright p {
    @apply m-[1.5rem_8rem] max-lg-1k:m-[0.8rem_2rem]
  }

  .copyright span {
    @apply font-bold text-base leading-[15px] text-[#212121]
  }

  .Allproducts-container,
  .cart-wrapper,
  .header,
  .success {
    @apply m-[4rem_8rem] max-xl-12:m-[4rem] max-2xl-12p:m-[4rem_6rem]
  }

  .Allproducts-container {
    @apply max-lg-1k:grid-cols-2 max-2xl-12p:grid-cols-3 grid grid-cols-4 justify-between items-center gap-[2rem]
  }

  .Allproduct-card {
    @apply w-[250px]
  }

  .Allproduct-card img {
    @apply w-full h-full
  }

  .Allproduct-name {
    @apply text-[1.05rem] mt-2
  }

  .Allproduct-name,
  .Allproduct-price {
    @apply font-semibold leading-6 tracking-[0.03em] text-[#212121]
  }

  .Allproduct-tags {
    @apply font-semibold text-[15px] leading-[15px] text-[#888] mt-0.5
  }

  .Allproduct-price {
    @apply text-xl mt-4
  }

  .products {
    @apply max-md-650:p-8 max-xl-12:p-16
  }

  .products {
    @apply max-xl-12:p-16 max-2xl-12p:p-[4rem_6rem] bg-[#fcfcfc] p-[4rem_8rem]
  }

  .product-detail-container {
    @apply max-lg-1k:flex-col flex justify-between
  }

  .product-images {
    @apply flex grow-[2] shrink-[1] basis-[0%] gap-8
  }

  .small-images-container {
    @apply flex flex-col gap-4
  }

  .small-images-container img {
    @apply max-sm-450:w-[50px] max-sm-450:h-[50px] max-md-650:w-[80px] max-md-650:h-[80px] w-[100px] h-[100px] cursor-pointer
  }

  .big-image-container {
    @apply max-lg-1k:w-[70%] w-[80%] h-full
  }

  .big-image-container img {
    @apply w-full h-full
  }

  .product-details {
    @apply flex flex-col flex-1 gap-10 mt-16
  }

  .name-and-category h3 {
    @apply font-normal text-[1.625rem] leading-[33px] tracking-wider text-[#212121]
  }

  .name-and-category span {
    @apply font-semibold text-[1.3rem] opacity-[.3]
  }

  .size p {
    @apply text-[#212121]
  }

  .size li,
  .size p {
    @apply font-bold text-[.9rem] leading-[16px] tracking-wider
  }

  .size ul {
    @apply flex gap-4 mt-4
  }

  .size li {
    @apply w-[40px] h-[40px] flex justify-center items-center rounded-[50%] cursor-pointer text-[1rem] text-[#666] hover:shadow-[0_7px_29px_0_hsla(240,5%,41%,.2)]
  }

  .minus {
    @apply mr-[10px] border-[2px_solid_#f1f1f1] bg-[#f1f1f1]
  }

  .minus,
  .plus {
    @apply rounded-full p-[5px] cursor-pointer
  }

  .plus {
    @apply ml-[10px] border-2 border-[#000]
  }

  .add-to-cart {
    @apply flex items-center gap-4 
  }

  .add-to-cart .price {
    @apply font-bold text-[1.5rem] leading-[30px] tracking-[.1em]
  }

  .product-desc-container {
    @apply max-md-650:p-8 bg-[#fff] flex flex-col mt-16 p-[2rem_4rem_6rem] gap-8
  }

  .quantity-desc {
    @apply gap-8
  }

  .quantity-desc div, .quantity-desc {
    @apply flex items-center 
  }

  .quantity-desc h4 {
    @apply font-bold
  }

  .add-to-cart .btn {
    @apply text-[.875rem] w-[40%]
  }

  .btn {
    @apply font-semibold leading-[18px] bg-[#212121] p-[10px_0] flex items-center justify-center gap-2 text-white rounded-sm
  }

  .product-desc-container div {
    @apply flex z-[2]
  }

  .desc-title {
    @apply border-b-2 border-[#c4c4c4] relative w-full h-[150px]
  }

  .desc-background {
    @apply max-sm-450:text-[3.2rem] max-md-650:text-[4.5rem] max-lg-1k:text-[6rem] font-extrabold text-[7.5rem] leading-[151px] text-[#f2f3f7] opacity-[.7] z-[1] w-full h-full
  }

  .desc-title h2 {
    @apply font-bold text-[1.4rem] leading-[25px] tracking-wider text-[#212121] pb-12 z-[2] top-[45%] absolute
  }

  .desc-care, .desc-details {
    @apply max-sm-450:flex max-sm-450:flex-col max-sm-450:gap-8
  }

  .product-desc-container h4 {
    @apply flex-1 font-bold text-[1rem] leading-[19px] tracking-wider text-[#666]
  }

  .product-desc-container p, .product-desc-container ul {
    @apply flex-[2_1]
  }

  .product-desc-container li, .product-desc-container p {
    @apply font-light text-[1rem] leading-[26px] text-justify tracking-wider text-[#212121]
  }

  .product-desc-container li {
    @apply font-semibold list-inside
  }

}