@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .nav_mobile-box {
    @apply max-[650px]:mx-[2rem] max-[650px]:mt-[2rem] max-[1000px]:mx-[4rem] max-[1000px]:mt-[4rem] max-[1210px]:mx-[2rem] max-[1210px]:mt-[2rem]  
  }

  .header {
    @apply max-[650px]:m-[2rem] max-[1000px]:flex-col max-[1000px]:justify-center max-[1000px]:items-center max-[1210px]:m-[4rem] max-[1290px]:my-[4rem] max-[1210px]:mx-[6rem] relative flex justify-between gap-16 my-[4rem] mx-[8rem]
  }

  .header_left-side {
    @apply flex flex-col max-[1000px]:my-[2rem] max-[1000px]:mx-0  justify-between items-center px-0 pt-4 pb-4 flex-1
  }

  .header_content {
    @apply max-[650px]:gap-8 max-[650px]:mb-8 mb-12 justify-center flex flex-col gap-10
  }

  .header_sale-button {
    @apply bg-[#e1edff] h-10 w-[120px] rounded-[6px] flex items-center justify-center text-blue-600 font-semibold
  }

  .header_main-heading {
    @apply font-bold text-6xl leading-[55px] tracking-[0.03em] text-[#212121] max-[650px]:text-5xl
  }

  .header_main-helper-text {
    @apply font-normal text-base leading-6 text-[#666] w-[300px]
  }

  .header_main-button {
    @apply flex gap-2 p-4 text-white bg-black font-bold w-fit min-[1210px]:w-[150px] text-center justify-center items-center rounded-[6px] min-[1210px]:break-words max-[1000px]:px-[40px] max-[1000px]:py-[20px]
  }

  .header_featured {
    @apply grid grid-cols-4 max-[650px]:grid-cols-2 w-fit gap-4 gap-x-6
  }

  .header_right-side {
    @apply max-[1000px]:hidden flex flex-1 justify-center items-center
  }

  .header_circle, .header_img {
    @apply absolute top-[-5%];
  }

  .header_circle {
    @apply w-[600px] h-[600px] rounded-[50%] bg-[#ffece3]
  }

  .event-container {
    @apply max-[1210px]:p-16 max-[1290px]:py-16 max-[1290px]:px-24 py-16 px-32
  }

  .event_subtitle {
    @apply text-center flex flex-col gap-4 mb-8
  }

  .event_subtitle > span {
    @apply text-[12px] leading-[15px] tracking-[0.1em] text-[#0062f5]
  }

  .event_subtitle > h2 {
    @apply text-[32px] leading-[40px] tracking-[0.03em] text-black
  }

  .event_subtitle > span, .event_subtitle > h2 {
    @apply font-bold text-center
  }

}